<div class="app">
  <div class="app-main">
    <app-categories
      (changeSelectedCategory)="changeSelectedCategory($event)"
      (newCategory)="addnewCategory($event)"
      (deletedCategory)="deleteCategory($event)"
      [selectedType]="selectedTypeCode"
      [selectedCategory]="selectedCategory"
      [allCategories]="categories"
    >
    </app-categories>

    <!-- <app-type-switcher (changeSelectedType)="changeSeletcedType($event)" [selectedType]="selectedTypeCode">
    </app-type-switcher> -->
    <div>
      <app-type-switcher
        (changeSelectedType)="changeSeletcedType($event)"
        [selectedType]="selectedTypeCode"
      >
      </app-type-switcher>
      <app-operation-editor
        (newOperation)="addedNewOperation($event)"
        [selectedCategory]="selectedCategory"
        [selectedType]="selectedTypeCode"
        [selectedOperation]="selectedOperation"
      ></app-operation-editor>
    </div>

    <app-all-operations
      [selectedType]="selectedTypeCode"
      [allOperations]="allOperations"
      [allCategories]="categories"
      (deleteOperation)="deletedOperation($event)"
      (mergedOperation)="mergeOperation($event)"
    >
    </app-all-operations>
  </div>
</div>
