.allOperations-block {
  padding: 20px;
  height: 700px;
  width: 300px;
  /* overflow: auto; */
  /* word-wrap: break-word; */
}
.allOperations__header {
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  height: 60px;
  color: #a5abae;
}
.allOperations__subheader {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;

  color: #a5abae;
}
.allOperations {
  overflow: auto;
  height: 550px;
}
.operation-text {
  width: 100%;
}
.operation {
  height: 70px;
  display: flex;
  align-items: center;
}
.operation-text-header {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #414141;
}
.operation-text-description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #929292;
  padding-top: 5px;
}
.operation-value {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 12px;
  color: #92d8ee;
  padding-top: 5px;
}
.operation:hover {
  background: linear-gradient(
    90deg,
    #edf8ff 6.71%,
    rgba(220, 239, 253, 0.07) 102.2%
  );
}
.deleteoperation {
  font-size: 8px;
  background-image: url(../images/cancel.jpeg);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: contain;
}
