.type {
  cursor: default;
  width: 300px;
  text-align: center;
  color: #afbfca;
  font-size: 40px;
}
.someclass {
  width: 600px;
  display: flex;
  justify-content: space-around;
  margin-left: 155px;
}
