.type{
    cursor: default;
    width: 100px;
    text-align: center;
    color: #AFBFCA;
}
.someclass{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-left: 155px;
}