.app__type{
    cursor: default;
    width: 200px;
    text-align: center;
    color: #AFBFCA;
    font-size: 25px;
    font-weight: 900;
}
.app__type-switcher{
    margin: 0 auto;
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}