<div class="app__allcategories">
  <div *ngFor="let category of categories">
    <div
      (click)="selectCategory(category, $event)"
      class="app__category"
      [ngStyle]="{
        backgroundColor:
          selectedCategory.name == category.name ? getcolor() : ''
      }"
    >
      <span>{{ category.name }}</span>

      <!-- <span *ngIf="selectedCategory == category.name"> (Selected)</span> -->
      <div
        (click)="deleteCategory(category.id, $event)"
        class="app__category-delete"
      ></div>
    </div>
  </div>
</div>
<div class="app__newCategory" (click)="addCategory()"></div>
<input
  type="text"
  [(ngModel)]="newCategoryName"
  placeholder="Новая категория"
  class="app_newCategory-input"
/>
