*{
    box-sizing: border-box;
}
.app__category{
    cursor: default;
    height: 70px;
    width: 250px;
    text-align: center;
    color: #414141;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;

}
.app__allcategories{
    width: 250px;
    height: 500px;
    font-size: 8px;
    margin-top: 40px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
// flex-wrap: wrap;
color: #414141;
overflow: auto;

}
.app__newCategory{

 background-image: url(../images/plus.jpeg);
 height: 25px;
 width: 25px;
 background-repeat: no-repeat;
 background-size: contain;

    margin: 0 auto;
    
}
.app_newCategory-input{
    font-size: 18px;
}
.app__category-delete{
    background-image: url(../images/cancel.svg);
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: contain;
}