*{
    box-sizing: border-box;
}
.category{
    cursor: default;
    height: 50px;
    width: 150px;
    padding-top: 20px;
    text-align: center;
    color: #414141;
    font-size: 12px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;

}
.category-block{
    width: 150px;
    height: 235px;
    font-size: 8px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
// flex-wrap: wrap;
color: #414141;
overflow: auto;

}
.newCategory{

 background-image: url(../images/plus.jpeg);
 height: 10px;
 width: 10px;
 background-repeat: no-repeat;
 background-size: contain;

    margin: 0 auto;
    
}
.newCategory-input{
    
    font-size: 12px;
}
.deleteCategory{
    background-image: url(../images/cancel.svg);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}