*{box-sizing: border-box;}
.app__editor{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
    /* background: linear-gradient(234.51deg, #148BE7 0%, #26ECFD 100%); */
    box-shadow: 0px 0px 50px rgba(20, 139, 231, 0.5);
}
.app__editor-description{
    position: relative;
    width: 450px;
height: 190px;
padding: 20px 10px 10px;
display: flex;
flex-direction: column;
justify-content: space-between;


background: linear-gradient(180deg, #F2F2F2 10.61%, #F8F8F8 100%);
}
.app__description__title{
    
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 14px;
color: #AFBFCA;
}
.app__description__input{
    font-size: 15px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
background: none;
width: 100%;
}
.app__editor__selectedcategory{
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 11px;
color: #AEE5FF;
/* text-align: center; */

}
.app__editor__input{
    font-size: 25px;

color: #FFFFFF;
border: none;
border-bottom: 1px solid #FFFFFF;
background: none;
width: 70%;

}
.app__input-button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
    position: absolute;
    top: -20px;
    right: 30px;

}